body {
    background-color: #ffffff;
    font-family: serif;
    margin: 0 20%;
    background-color: #d7ecd5; 
}

main {
    background-color: #ffffff;
    padding: 3%;
}

ul {
    text-align: left;
    
}

h1 {
    text-align: center; 
    font-weight: normal; 
    margin-top: 10px;
    font-size: 300%;
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid black;
    
}
h3 { 
    font-size: 120%;
    font-family: serif;
    font-weight: normal;
}

h4 {
    text-align: center; 
    font-weight: normal; 
    margin-top: 10px;
    font-size: 300%;
    font-family: Impact;
    
}

ul {
    list-style-type: none;
}

a:hover {
    color:#a2c99f;
}
header {
    text-align: center;
}   

h2 {
    color: #000000;
    font-size:large;
    text-align:center;
}
h5 {
    color: #000000;
    font-size:large;
    text-align:left;
}

footer {
    border-top: 1px solid #000000;
    text-align: center;
    padding-top: 1em;
}
footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
}
body img {
    text-align: center;
}